# Ethiopia communal conflict 
### ACLED: https://acleddata.com/data-export-tool/

In [296]:
import pandas as pd
import numpy as np

In [297]:
#pip install -U imbalanced-learn

In [298]:
df = pd.read_csv('/Users/yaredhurisa/Google Drive/Probability of conflict/data/Conflict-Ethiopia.csv')

In [299]:
df.isna().sum()

data_id                0
iso                    0
event_id_cnty          0
event_id_no_cnty       0
event_date             0
year                   0
time_precision         0
event_type             0
sub_event_type         0
actor1                 0
assoc_actor_1       4021
inter1                 0
actor2              1454
assoc_actor_2       4239
inter2                 0
interaction            0
region                 0
country                0
admin1                 0
admin2                 0
admin3                10
location               0
latitude               0
longitude              0
geo_precision          0
source                 0
source_scale           0
notes                 32
fatalities             0
timestamp              0
iso3                   0
dtype: int64

In [300]:
df['month'] = pd.DatetimeIndex(df['event_date']).month

In [301]:
event_type= df.groupby(['event_type', 'actor1', 'inter1']).count()

##### Actor code under inter1, inter2 and interaction
###### 1 = Governments and State Security Services
###### 2 = Rebel Groups
###### 3 = Political Militias
###### 4 = Identity Militias
###### 5 = Rioters
###### 6 = Protesters
###### 7 = Civilians
###### 8 = External/other forces

In [302]:
#under interaction, select data representing the presence of identity militias (4)
cc=df[df['interaction'].isin([14, 24, 34, 41, 42, 43, 44, 45, 46, 47, 48])]

In [303]:
actor1=pd.get_dummies(cc['inter1'])
actor1.head()

    1  2  3  4  8
1   0  0  0  1  0
2   0  0  0  0  1
4   0  0  0  1  0
8   0  0  0  1  0
10  1  0  0  0  0

In [304]:
actor2=pd.get_dummies(cc['inter2'])
actor2.head()

    1  3  4  7  8
1   0  0  0  1  0
2   0  0  1  0  0
4   0  0  0  1  0
8   0  0  1  0  0
10  0  0  1  0  0

In [305]:
actor=actor1.merge(actor2, left_index=True, right_index=True)
actor.head()

    1_x  2  3_x  4_x  8_x  1_y  3_y  4_y  7  8_y
1     0  0    0    1    0    0    0    0  1    0
2     0  0    0    0    1    0    0    1  0    0
4     0  0    0    1    0    0    0    0  1    0
8     0  0    0    1    0    0    0    1  0    0
10    1  0    0    0    0    0    0    1  0    0

In [306]:
actor['actor_state']=actor['1_x'] + actor['1_y']
actor['actor_political_militias']=actor['3_x'] + actor['3_y']
actor['actor_identity_militias']=actor['4_x'] + actor['4_y']
actor['actor_others']=actor['8_x'] + actor['8_y']
actor=actor.rename(columns={2: "actor_rebel_groups", 7: "actor_civilians"})
actor.head()

,1_x,actor_rebel_groups,3_x,4_x,8_x,1_y,3_y,4_y,actor_civilians,8_y,actor_state,actor_political_militias,actor_identity_militias,actor_others
1,0,0,0,1,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,1,0,0,0,0,1,1
4,0,0,0,1,0,0,0,0,1,0,0,0,1,0
8,0,0,0,1,0,0,0,1,0,0,0,0,2,0
10,1,0,0,0,0,0,0,1,0,0,1,0,1,0

In [307]:
actor['actor_identity_militias']=actor['actor_identity_militias'].replace([2], 1)

In [308]:
actor=actor[['actor_state', "actor_rebel_groups", 'actor_political_militias', 'actor_identity_militias', "actor_civilians", 'actor_others']]

In [309]:
actor.head()

,actor_state,actor_rebel_groups,actor_political_militias,actor_identity_militias,actor_civilians,actor_others
1,0,0,0,1,1,0
2,0,0,0,1,0,1
4,0,0,0,1,1,0
8,0,0,0,1,0,0
10,1,0,0,1,0,0

In [310]:
cc1=cc.merge(actor, left_index=True, right_index=True)
cc1.head()

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,fatalities,timestamp,iso3,month,actor_state,actor_rebel_groups,actor_political_militias,actor_identity_militias,actor_civilians,actor_others
1,7031185,231,ETH5526,5526,01 April 2020,2020,1,Violence against civilians,Attack,Garre Ethnic Militia (Ethiopia),...,0,1586212552,ETH,4,0,0,0,1,1,0
2,7031187,231,ETH5525,5525,01 April 2020,2020,1,Battles,Armed clash,Military Forces of Kenya (2013-),...,0,1586212552,ETH,4,0,0,0,1,0,1
4,7005281,231,ETH5523,5523,26 March 2020,2020,1,Violence against civilians,Attack,Oromo Ethnic Militia (Ethiopia),...,1,1585604732,ETH,3,0,0,0,1,1,0
8,6998150,231,ETH5518,5518,20 March 2020,2020,1,Battles,Armed clash,Oromo Ethnic Militia (Ethiopia),...,0,1585000467,ETH,3,0,0,0,1,0,0
10,6998129,231,ETH5515,5515,19 March 2020,2020,1,Battles,Armed clash,Military Forces of Ethiopia (2018-),...,3,1585000467,ETH,3,1,0,0,1,0,0

In [311]:
cc1['cc_event_count']=1

In [312]:
cc2 = cc1.groupby(['year', 'month','admin1','admin2'])['fatalities', 'cc_event_count', 'actor_state', "actor_rebel_groups", 'actor_political_militias', 'actor_identity_militias', "actor_civilians", 'actor_others'].sum().reset_index()

In [313]:
cc2 = cc2.set_index(['admin1','admin2','month', 'year'])
cc2['cc_onset']=1

In [314]:
cc3=cc2.unstack().fillna(0).stack()

In [315]:
cc3=pd.DataFrame(data=cc3)

In [316]:
cc3=cc3.reset_index()

In [317]:
cc3 = cc3.set_index(['admin1','admin2','year', 'month'])
cc3

                                       fatalities  cc_event_count  \
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3             0.0             0.0
                           1998 3             0.0             0.0
                           1999 3             0.0             0.0
                           2000 3             0.0             0.0
                           2001 3             0.0             0.0
                           2002 3             0.0             0.0
                           2003 3             0.0             0.0
                           2004 3             0.0             0.0
                           2005 3             0.0             0.0
                           2006 3             0.0             0.0
                           2007 3             0.0             0.0
                           2008 3             0.0             0.0
                           2009 3             0.0             0.0
                           2010 3             0.0             0.0
                           2011 3             0.0             0.0
                           2012 3             0.0             0.0
                           2013 3            23.0             2.0
                           2014 3             0.0             0.0
                           2015 3             0.0             0.0
                           2016 3             0.0             0.0
                           2017 3             0.0             0.0
                           2018 3             0.0             0.0
                           2019 3             0.0             0.0
                           2020 3             0.0             0.0
                           1997 8             0.0             0.0
                           1998 8             0.0             0.0
                           1999 8             0.0             0.0
                           2000 8             0.0             0.0
                           2001 8             0.0             0.0
                           2002 8             0.0             0.0
...                                           ...             ...
Tigray      Western Tigray 2015 2             0.0             0.0
                           2016 2             0.0             0.0
                           2017 2             0.0             0.0
                           2018 2             0.0             0.0
                           2019 2             2.0             1.0
                           2020 2             0.0             0.0
                           1997 4             0.0             0.0
                           1998 4             0.0             0.0
                           1999 4             0.0             0.0
                           2000 4             0.0             0.0
                           2001 4             0.0             0.0
                           2002 4             0.0             0.0
                           2003 4             0.0             0.0
                           2004 4             0.0             0.0
                           2005 4             0.0             0.0
                           2006 4             0.0             0.0
                           2007 4             0.0             0.0
                           2008 4             0.0             0.0
                           2009 4             0.0             0.0
                           2010 4             0.0             0.0
                           2011 4             0.0             0.0
                           2012 4             0.0             0.0
                           2013 4             0.0             0.0
                           2014 4             0.0             0.0
                           2015 4             0.0             0.0
                           2016 4             0.0             0.0
                           2017 4             6.0             2.0
                           2018 4             0.0             0.0
                           2019 4             0.0             0.0
                           2020 4             0.0             0.0

                                       actor_state  actor_rebel_groups  \
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3              0.0                 0.0
                           1998 3              0.0                 0.0
                           1999 3              0.0                 0.0
                           2000 3              0.0                 0.0
                           2001 3              0.0                 0.0
                           2002 3              0.0                 0.0
                           2003 3              0.0                 0.0
                           2004 3              0.0                 0.0
                           2005 3              0.0                 0.0
                           2006 3              0.0                 0.0
                           2007 3              0.0                 0.0
                           2008 3              0.0                 0.0
                           2009 3              0.0                 0.0
                           2010 3              0.0                 0.0
                           2011 3              0.0                 0.0
                           2012 3              0.0                 0.0
                           2013 3              0.0                 0.0
                           2014 3              0.0                 0.0
                           2015 3              0.0                 0.0
                           2016 3              0.0                 0.0
                           2017 3              0.0                 0.0
                           2018 3              0.0                 0.0
                           2019 3              0.0                 0.0
                           2020 3              0.0                 0.0
                           1997 8              0.0                 0.0
                           1998 8              0.0                 0.0
                           1999 8              0.0                 0.0
                           2000 8              0.0                 0.0
                           2001 8              0.0                 0.0
                           2002 8              0.0                 0.0
...                                            ...                 ...
Tigray      Western Tigray 2015 2              0.0                 0.0
                           2016 2              0.0                 0.0
                           2017 2              0.0                 0.0
                           2018 2              0.0                 0.0
                           2019 2              1.0                 0.0
                           2020 2              0.0                 0.0
                           1997 4              0.0                 0.0
                           1998 4              0.0                 0.0
                           1999 4              0.0                 0.0
                           2000 4              0.0                 0.0
                           2001 4              0.0                 0.0
                           2002 4              0.0                 0.0
                           2003 4              0.0                 0.0
                           2004 4              0.0                 0.0
                           2005 4              0.0                 0.0
                           2006 4              0.0                 0.0
                           2007 4              0.0                 0.0
                           2008 4              0.0                 0.0
                           2009 4              0.0                 0.0
                           2010 4              0.0                 0.0
                           2011 4              0.0                 0.0
                           2012 4              0.0                 0.0
                           2013 4              0.0                 0.0
                           2014 4              0.0                 0.0
                           2015 4              0.0                 0.0
                           2016 4              0.0                 0.0
                           2017 4              0.0                 0.0
                           2018 4              0.0                 0.0
                           2019 4              0.0                 0.0
                           2020 4              0.0                 0.0

                                       actor_political_militias  \
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3                           0.0
                           1998 3                           0.0
                           1999 3                           0.0
                           2000 3                           0.0
                           2001 3                           0.0
                           2002 3                           0.0
                           2003 3                           0.0
                           2004 3                           0.0
                           2005 3                           0.0
                           2006 3                           0.0
                           2007 3                           0.0
                           2008 3                           0.0
                           2009 3                           0.0
                           2010 3                           0.0
                           2011 3                           0.0
                           2012 3                           0.0
                           2013 3                           0.0
                           2014 3                           0.0
                           2015 3                           0.0
                           2016 3                           0.0
                           2017 3                           0.0
                           2018 3                           0.0
                           2019 3                           0.0
                           2020 3                           0.0
                           1997 8                           0.0
                           1998 8                           0.0
                           1999 8                           0.0
                           2000 8                           0.0
                           2001 8                           0.0
                           2002 8                           0.0
...                                                         ...
Tigray      Western Tigray 2015 2                           0.0
                           2016 2                           0.0
                           2017 2                           0.0
                           2018 2                           0.0
                           2019 2                           0.0
                           2020 2                           0.0
                           1997 4                           0.0
                           1998 4                           0.0
                           1999 4                           0.0
                           2000 4                           0.0
                           2001 4                           0.0
                           2002 4                           0.0
                           2003 4                           0.0
                           2004 4                           0.0
                           2005 4                           0.0
                           2006 4                           0.0
                           2007 4                           0.0
                           2008 4                           0.0
                           2009 4                           0.0
                           2010 4                           0.0
                           2011 4                           0.0
                           2012 4                           0.0
                           2013 4                           0.0
                           2014 4                           0.0
                           2015 4                           0.0
                           2016 4                           0.0
                           2017 4                           0.0
                           2018 4                           0.0
                           2019 4                           0.0
                           2020 4                           0.0

                                       actor_identity_militias  \
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3                          0.0
                           1998 3                          0.0
                           1999 3                          0.0
                           2000 3                          0.0
                           2001 3                          0.0
                           2002 3                          0.0
                           2003 3                          0.0
                           2004 3                          0.0
                           2005 3                          0.0
                           2006 3                          0.0
                           2007 3                          0.0
                           2008 3                          0.0
                           2009 3                          0.0
                           2010 3                          0.0
                           2011 3                          0.0
                           2012 3                          0.0
                           2013 3                          2.0
                           2014 3                          0.0
                           2015 3                          0.0
                           2016 3                          0.0
                           2017 3                          0.0
                           2018 3                          0.0
                           2019 3                          0.0
                           2020 3                          0.0
                           1997 8                          0.0
                           1998 8                          0.0
                           1999 8                          0.0
                           2000 8                          0.0
                           2001 8                          0.0
                           2002 8                          0.0
...                                                        ...
Tigray      Western Tigray 2015 2                          0.0
                           2016 2                          0.0
                           2017 2                          0.0
                           2018 2                          0.0
                           2019 2                          1.0
                           2020 2                          0.0
                           1997 4                          0.0
                           1998 4                          0.0
                           1999 4                          0.0
                           2000 4                          0.0
                           2001 4                          0.0
                           2002 4                          0.0
                           2003 4                          0.0
                           2004 4                          0.0
                           2005 4                          0.0
                           2006 4                          0.0
                           2007 4                          0.0
                           2008 4                          0.0
                           2009 4                          0.0
                           2010 4                          0.0
                           2011 4                          0.0
                           2012 4                          0.0
                           2013 4                          0.0
                           2014 4                          0.0
                           2015 4                          0.0
                           2016 4                          0.0
                           2017 4                          2.0
                           2018 4                          0.0
                           2019 4                          0.0
                           2020 4                          0.0

                                       actor_civilians  actor_others  cc_onset
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3                  0.0           0.0       0.0
                           1998 3                  0.0           0.0       0.0
                           1999 3                  0.0           0.0       0.0
                           2000 3                  0.0           0.0       0.0
                           2001 3                  0.0           0.0       0.0
                           2002 3                  0.0           0.0       0.0
                           2003 3                  0.0           0.0       0.0
                           2004 3                  0.0           0.0       0.0
                           2005 3                  0.0           0.0       0.0
                           2006 3                  0.0           0.0       0.0
                           2007 3                  0.0           0.0       0.0
                           2008 3                  0.0           0.0       0.0
                           2009 3                  0.0           0.0       0.0
                           2010 3                  0.0           0.0       0.0
                           2011 3                  0.0           0.0       0.0
                           2012 3                  0.0           0.0       0.0
                           2013 3                  1.0           0.0       1.0
                           2014 3                  0.0           0.0       0.0
                           2015 3                  0.0           0.0       0.0
                           2016 3                  0.0           0.0       0.0
                           2017 3                  0.0           0.0       0.0
                           2018 3                  0.0           0.0       0.0
                           2019 3                  0.0           0.0       0.0
                           2020 3                  0.0           0.0       0.0
                           1997 8                  0.0           0.0       0.0
                           1998 8                  0.0           0.0       0.0
                           1999 8                  0.0           0.0       0.0
                           2000 8                  0.0           0.0       0.0
                           2001 8                  0.0           0.0       0.0
                           2002 8                  0.0           0.0       0.0
...                                                ...           ...       ...
Tigray      Western Tigray 2015 2                  0.0           0.0       0.0
                           2016 2                  0.0           0.0       0.0
                           2017 2                  0.0           0.0       0.0
                           2018 2                  0.0           0.0       0.0
                           2019 2                  0.0           0.0       1.0
                           2020 2                  0.0           0.0       0.0
                           1997 4                  0.0           0.0       0.0
                           1998 4                  0.0           0.0       0.0
                           1999 4                  0.0           0.0       0.0
                           2000 4                  0.0           0.0       0.0
                           2001 4                  0.0           0.0       0.0

In [318]:
a = np.array(cc3['actor_state'].values.tolist())

cc3['actor_state'] = np.where(a > 0, 1, a).tolist()

In [319]:
b = np.array(cc3['actor_political_militias'].values.tolist())

cc3['actor_political_militias'] = np.where(b > 0, 1, b).tolist()

In [320]:
c = np.array(cc3['actor_identity_militias'].values.tolist())

cc3['actor_identity_militias'] = np.where(c > 0, 1, c).tolist()

In [321]:
d = np.array(cc3['actor_others'].values.tolist())

cc3['actor_others'] = np.where(d > 0, 1, a).tolist()

In [322]:
e = np.array(cc3['actor_rebel_groups'].values.tolist())

cc3['actor_rebel_groups'] = np.where(e > 0, 1, a).tolist()

In [323]:
f = np.array(cc3['actor_civilians'].values.tolist())

cc3['actor_civilians'] = np.where(e > 0, 1, a).tolist()

In [324]:
cc3

                                       fatalities  cc_event_count  \
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3             0.0             0.0
                           1998 3             0.0             0.0
                           1999 3             0.0             0.0
                           2000 3             0.0             0.0
                           2001 3             0.0             0.0
                           2002 3             0.0             0.0
                           2003 3             0.0             0.0
                           2004 3             0.0             0.0
                           2005 3             0.0             0.0
                           2006 3             0.0             0.0
                           2007 3             0.0             0.0
                           2008 3             0.0             0.0
                           2009 3             0.0             0.0
                           2010 3             0.0             0.0
                           2011 3             0.0             0.0
                           2012 3             0.0             0.0
                           2013 3            23.0             2.0
                           2014 3             0.0             0.0
                           2015 3             0.0             0.0
                           2016 3             0.0             0.0
                           2017 3             0.0             0.0
                           2018 3             0.0             0.0
                           2019 3             0.0             0.0
                           2020 3             0.0             0.0
                           1997 8             0.0             0.0
                           1998 8             0.0             0.0
                           1999 8             0.0             0.0
                           2000 8             0.0             0.0
                           2001 8             0.0             0.0
                           2002 8             0.0             0.0
...                                           ...             ...
Tigray      Western Tigray 2015 2             0.0             0.0
                           2016 2             0.0             0.0
                           2017 2             0.0             0.0
                           2018 2             0.0             0.0
                           2019 2             2.0             1.0
                           2020 2             0.0             0.0
                           1997 4             0.0             0.0
                           1998 4             0.0             0.0
                           1999 4             0.0             0.0
                           2000 4             0.0             0.0
                           2001 4             0.0             0.0
                           2002 4             0.0             0.0
                           2003 4             0.0             0.0
                           2004 4             0.0             0.0
                           2005 4             0.0             0.0
                           2006 4             0.0             0.0
                           2007 4             0.0             0.0
                           2008 4             0.0             0.0
                           2009 4             0.0             0.0
                           2010 4             0.0             0.0
                           2011 4             0.0             0.0
                           2012 4             0.0             0.0
                           2013 4             0.0             0.0
                           2014 4             0.0             0.0
                           2015 4             0.0             0.0
                           2016 4             0.0             0.0
                           2017 4             6.0             2.0
                           2018 4             0.0             0.0
                           2019 4             0.0             0.0
                           2020 4             0.0             0.0

                                       actor_state  actor_rebel_groups  \
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3              0.0                 0.0
                           1998 3              0.0                 0.0
                           1999 3              0.0                 0.0
                           2000 3              0.0                 0.0
                           2001 3              0.0                 0.0
                           2002 3              0.0                 0.0
                           2003 3              0.0                 0.0
                           2004 3              0.0                 0.0
                           2005 3              0.0                 0.0
                           2006 3              0.0                 0.0
                           2007 3              0.0                 0.0
                           2008 3              0.0                 0.0
                           2009 3              0.0                 0.0
                           2010 3              0.0                 0.0
                           2011 3              0.0                 0.0
                           2012 3              0.0                 0.0
                           2013 3              0.0                 0.0
                           2014 3              0.0                 0.0
                           2015 3              0.0                 0.0
                           2016 3              0.0                 0.0
                           2017 3              0.0                 0.0
                           2018 3              0.0                 0.0
                           2019 3              0.0                 0.0
                           2020 3              0.0                 0.0
                           1997 8              0.0                 0.0
                           1998 8              0.0                 0.0
                           1999 8              0.0                 0.0
                           2000 8              0.0                 0.0
                           2001 8              0.0                 0.0
                           2002 8              0.0                 0.0
...                                            ...                 ...
Tigray      Western Tigray 2015 2              0.0                 0.0
                           2016 2              0.0                 0.0
                           2017 2              0.0                 0.0
                           2018 2              0.0                 0.0
                           2019 2              1.0                 1.0
                           2020 2              0.0                 0.0
                           1997 4              0.0                 0.0
                           1998 4              0.0                 0.0
                           1999 4              0.0                 0.0
                           2000 4              0.0                 0.0
                           2001 4              0.0                 0.0
                           2002 4              0.0                 0.0
                           2003 4              0.0                 0.0
                           2004 4              0.0                 0.0
                           2005 4              0.0                 0.0
                           2006 4              0.0                 0.0
                           2007 4              0.0                 0.0
                           2008 4              0.0                 0.0
                           2009 4              0.0                 0.0
                           2010 4              0.0                 0.0
                           2011 4              0.0                 0.0
                           2012 4              0.0                 0.0
                           2013 4              0.0                 0.0
                           2014 4              0.0                 0.0
                           2015 4              0.0                 0.0
                           2016 4              0.0                 0.0
                           2017 4              0.0                 0.0
                           2018 4              0.0                 0.0
                           2019 4              0.0                 0.0
                           2020 4              0.0                 0.0

                                       actor_political_militias  \
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3                           0.0
                           1998 3                           0.0
                           1999 3                           0.0
                           2000 3                           0.0
                           2001 3                           0.0
                           2002 3                           0.0
                           2003 3                           0.0
                           2004 3                           0.0
                           2005 3                           0.0
                           2006 3                           0.0
                           2007 3                           0.0
                           2008 3                           0.0
                           2009 3                           0.0
                           2010 3                           0.0
                           2011 3                           0.0
                           2012 3                           0.0
                           2013 3                           0.0
                           2014 3                           0.0
                           2015 3                           0.0
                           2016 3                           0.0
                           2017 3                           0.0
                           2018 3                           0.0
                           2019 3                           0.0
                           2020 3                           0.0
                           1997 8                           0.0
                           1998 8                           0.0
                           1999 8                           0.0
                           2000 8                           0.0
                           2001 8                           0.0
                           2002 8                           0.0
...                                                         ...
Tigray      Western Tigray 2015 2                           0.0
                           2016 2                           0.0
                           2017 2                           0.0
                           2018 2                           0.0
                           2019 2                           0.0
                           2020 2                           0.0
                           1997 4                           0.0
                           1998 4                           0.0
                           1999 4                           0.0
                           2000 4                           0.0
                           2001 4                           0.0
                           2002 4                           0.0
                           2003 4                           0.0
                           2004 4                           0.0
                           2005 4                           0.0
                           2006 4                           0.0
                           2007 4                           0.0
                           2008 4                           0.0
                           2009 4                           0.0
                           2010 4                           0.0
                           2011 4                           0.0
                           2012 4                           0.0
                           2013 4                           0.0
                           2014 4                           0.0
                           2015 4                           0.0
                           2016 4                           0.0
                           2017 4                           0.0
                           2018 4                           0.0
                           2019 4                           0.0
                           2020 4                           0.0

                                       actor_identity_militias  \
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3                          0.0
                           1998 3                          0.0
                           1999 3                          0.0
                           2000 3                          0.0
                           2001 3                          0.0
                           2002 3                          0.0
                           2003 3                          0.0
                           2004 3                          0.0
                           2005 3                          0.0
                           2006 3                          0.0
                           2007 3                          0.0
                           2008 3                          0.0
                           2009 3                          0.0
                           2010 3                          0.0
                           2011 3                          0.0
                           2012 3                          0.0
                           2013 3                          1.0
                           2014 3                          0.0
                           2015 3                          0.0
                           2016 3                          0.0
                           2017 3                          0.0
                           2018 3                          0.0
                           2019 3                          0.0
                           2020 3                          0.0
                           1997 8                          0.0
                           1998 8                          0.0
                           1999 8                          0.0
                           2000 8                          0.0
                           2001 8                          0.0
                           2002 8                          0.0
...                                                        ...
Tigray      Western Tigray 2015 2                          0.0
                           2016 2                          0.0
                           2017 2                          0.0
                           2018 2                          0.0
                           2019 2                          1.0
                           2020 2                          0.0
                           1997 4                          0.0
                           1998 4                          0.0
                           1999 4                          0.0
                           2000 4                          0.0
                           2001 4                          0.0
                           2002 4                          0.0
                           2003 4                          0.0
                           2004 4                          0.0
                           2005 4                          0.0
                           2006 4                          0.0
                           2007 4                          0.0
                           2008 4                          0.0
                           2009 4                          0.0
                           2010 4                          0.0
                           2011 4                          0.0
                           2012 4                          0.0
                           2013 4                          0.0
                           2014 4                          0.0
                           2015 4                          0.0
                           2016 4                          0.0
                           2017 4                          1.0
                           2018 4                          0.0
                           2019 4                          0.0
                           2020 4                          0.0

                                       actor_civilians  actor_others  cc_onset
admin1      admin2         year month
Addis Ababa Addis Ababa    1997 3                  0.0           0.0       0.0
                           1998 3                  0.0           0.0       0.0
                           1999 3                  0.0           0.0       0.0
                           2000 3                  0.0           0.0       0.0
                           2001 3                  0.0           0.0       0.0
                           2002 3                  0.0           0.0       0.0
                           2003 3                  0.0           0.0       0.0
                           2004 3                  0.0           0.0       0.0
                           2005 3                  0.0           0.0       0.0
                           2006 3                  0.0           0.0       0.0
                           2007 3                  0.0           0.0       0.0
                           2008 3                  0.0           0.0       0.0
                           2009 3                  0.0           0.0       0.0
                           2010 3                  0.0           0.0       0.0
                           2011 3                  0.0           0.0       0.0
                           2012 3                  0.0           0.0       0.0
                           2013 3                  0.0           0.0       1.0
                           2014 3                  0.0           0.0       0.0
                           2015 3                  0.0           0.0       0.0
                           2016 3                  0.0           0.0       0.0
                           2017 3                  0.0           0.0       0.0
                           2018 3                  0.0           0.0       0.0
                           2019 3                  0.0           0.0       0.0
                           2020 3                  0.0           0.0       0.0
                           1997 8                  0.0           0.0       0.0
                           1998 8                  0.0           0.0       0.0
                           1999 8                  0.0           0.0       0.0
                           2000 8                  0.0           0.0       0.0
                           2001 8                  0.0           0.0       0.0
                           2002 8                  0.0           0.0       0.0
...                                                ...           ...       ...
Tigray      Western Tigray 2015 2                  0.0           0.0       0.0
                           2016 2                  0.0           0.0       0.0
                           2017 2                  0.0           0.0       0.0
                           2018 2                  0.0           0.0       0.0
                           2019 2                  1.0           1.0       1.0
                           2020 2                  0.0           0.0       0.0
                           1997 4                  0.0           0.0       0.0
                           1998 4                  0.0           0.0       0.0
                           1999 4                  0.0           0.0       0.0
                           2000 4                  0.0           0.0       0.0
                           2001 4                  0.0           0.0       0.0

In [325]:
cc3=cc3.unstack().fillna(0).stack().reset_index()

In [326]:
cc3.shape

(15840, 13)

In [327]:
cc3.to_csv('/Users/yaredhurisa/Google Drive/Probability of conflict/indicators/eth_communal_conflict_balanced.csv')